/*基础样式配置*/	
body {
	padding: 0px;
	margin: 0px;
	background-color: #f7f4ef;
	font-family: "微软雅黑";
}
.show{
	display: block;
}
.hide{
	display: none;
}
.w {
	width: 1170px;
	margin: 0 auto;
}

.left {
	float: left;
}

.right {
	float: right;
}

.clear:after {
	display: block;
	content: "";
	clear: both;
}
a{
	text-decoration: none;
	color: inherit;
}

/*头部导航栏*/
.header_nav {
	background-color: #fff;
}
.header_nav>ul{
	height: 80px;
	overflow: hidden;
}
.header_nav>ul>li{
	height: inherit;
	list-style: none;
	margin-left: 85px;
}
.header_nav>ul>li:first-child{
	margin-left: 0px;
}
.header_nav>ul>li>a{
	line-height: 80px;
	font-size: 18px;
	color: #3c3c3c;
	text-decoration: none;
}
.header_nav>ul>li>a:hover{
	color: #ff525e;
}
.header_nav>ul>li>a>img{
	height: 44px;
	margin: 18px 0px;
}

/* banner图部分 */

.banner{
	width: 100%;
	overflow: hidden;
}
.banner>img{
	position: relative;
	left: 50%;
	margin-left: -950px;
	height: 500px;
}

/* 快件查询部分 */

.main{}
.main>.main_inquire{
	height: 42px;
	margin-top: -63px;
	background-color: #666666;
	position: relative;
	z-index: 99;
	padding: 42px 100px;
}
.main>.main_inquire>.main_inquire_tit{
	font-size: 30px;
	line-height: 42px;
	color: #fff;
}
.main>.main_inquire>.main_inquire_inp{
	margin: 0px 30px;
}
.main>.main_inquire>.main_inquire_inp>input{
	font-size: 16px;
	height: 38px;
	width: 610px;
	padding-left: 10px;
	color: #ccc;
	border-radius: 3px;
	border-width: 1px;
	border-top-color: #cbcbcb!important;
	border-bottom-color: #cbcbcb!important;
	border-left-color: #cbcbcb!important;
	border-right-color: #cbcbcb!important;
	outline: none;
}
.main>.main_inquire>.main_inquire_btn{
	font-size: 16px;
	font-weight: bold;
	line-height: 40px;
	color: #fff;
	width: 160px;
	background-color: #ff535f;
	border-radius: 3px;
	text-align: center;
	cursor:pointer;
	user-select: none;
	-webkit-user-select: none;
}

/* 提示文字 */

.main_hint{
	text-align: center;
	height: 114px;
}
.main_hint>.main_hint_text{
	color: #555;
	font-size: 24px;
	font-weight: bold;
	padding-top: 25px;
	padding-bottom: 10px;
}
.main_hint>.main_hint_img{}
.main_hint>.main_hint_img>img{}

/* 体验区 */

.main_experience{}
.main_experience>ul{
	padding: 0px;
	margin: 0px;
}
.main_experience>ul>li{
	width: 585px;
	height: 304px;
	list-style: none;
	overflow: hidden;
}
.main_experience>ul>li.item1{
	background-color: #0ec3bc;
}
.main_experience>ul>li.item4{
	background-color: #7bc3e6;
}
.main_experience>ul>li.item5{
	background-color: #799fe5;
}
.main_experience>ul>li.item8{
	background-color: #56c998;
}
.main_experience ul li .btn{
	width: 158px;
	height: 58px;
	margin: 122px 212px;
	background-color: inherit;
	border: 1px #fff solid;
	text-align: center;
	color: #fff;
	font-size: 24px;
	line-height: 58px;
	border-radius: 3px;
	cursor: pointer;
}
.main_experience>ul>li>img{
	height: inherit;
	width: inherit;
}

/* 最新消息 */

.main_news{
	background-color: #fff;
}
.main_news>ul{
	margin: 0px;
	padding: 0px 40px;
}
.main_news>ul>li.main_news_item{
	list-style: none;
	height: 73px;
	border-bottom: 1px #999999 dotted;
	font-size: 16px;
	color: #494949;
	line-height: 73px;
}
.main_news>ul>li.main_news_item:last-child{
	border: none;
}
.main_news>ul>li.main_news_item>a{
	text-decoration: none;
	color: inherit;
}

/* 客户服务 */

.service{
	margin-top: 30px;
	background-color: #fff;
}
.service>.service_items{}
.service>.service_items>ul{
	padding: 0px 0px 30px 0px;
	margin: 0px;
	// margin: 0px 0px 30px 0px;
	// padding: 0px 84px 29px;
}
.service>.service_items>ul>li.service_items_item{
	font-size: 14px;
	text-align: center;
	box-sizing: border-box;
	list-style: none;
	width: 292px;
	color: #333;
	// margin-right: 203px;
	padding: 0px 60px;
}
.service>.service_items>ul>li.service_items_item:last-child{
	margin-right: 0px;
}
.service>.service_items>ul>li.service_items_item>.img{
	margin: 0 auto;
	width: 98px;
	height: 98px;
}
.service>.service_items>ul>li.item1>.img{background-image: url(images/ftp9.png);}
.service>.service_items>ul>li.item2>.img{background-image: url(images/ftp1.png);}
.service>.service_items>ul>li.item3>.img{background-image: url(images/ftp3.png);}
.service>.service_items>ul>li.item4>.img{background-image: url(images/ftp5.png);}
.service>.service_items>ul>li.item1>.img:hover{background-image: url(images/ftp10.png);}
.service>.service_items>ul>li.item2>.img:hover{background-image: url(images/ftp2.png);}
.service>.service_items>ul>li.item3>.img:hover{background-image: url(images/ftp4.png);}
.service>.service_items>ul>li.item4>.img:hover{background-image: url(images/ftp6.png);}
.service>.service_items>ul>li.service_items_item>.text{
	text-align: center;
	font-weight: bold;
	font-size: 18px;
	padding-top: 30px;
	padding-bottom: 10px;
	// line-height: 64px;
}

/* 底部导航栏  */

.footer{
	background-color: #666;
	margin-top: 30px;
}

.footer>.footer_main>ul{
	padding: 30px 0;
	margin: 0px;
}
.footer>.footer_main>ul>li{
	list-style: none;
	width: 280px;
}
.footer>.footer_main>ul>li>.img{
	width: 130px;
	height: 130px;
}
.footer>.footer_main>ul>li>.img>img{
	width: inherit;
	height: inherit;
}
.footer>.footer_main>ul>li>.tit{
	font-size: 18px;
	font-weight: 400;
	color: #ccc;
	line-height: 1.5em;
}
.footer>.footer_main>ul>li>.footer_item{
	font-size: 16px;
	color: #ccc;
	line-height: 1.5em;
}
.footer>.footer_main>.footer_info{
	text-align: center;
	font-size: 16px;
	color: #ccc;
	// padding-bottom: 24px;
}

/* 快递查询  */
.express_info{
	width: 1030px;
	margin: 0 auto;
	color: #555;
}
.express_info>.express_info_tit{
	line-height: 60px;
}
.express_code{
	color: #ff525e;
}
.express_info>ul{
	padding: 0px;
	margin: 0px;
	background-color: #fff;
}
.express_info>ul>li{
	list-style: none;
	position: relative;
	border-bottom:1px #ccc solid;
	border-left: 1px #ccc solid;
	border-right: 1px #ccc solid;
	height: 58px;
	text-align: left;
	line-height: 58px;
	padding-left:30px;
}
.express_info>ul>li:first-child{
	padding-left: 90px;
	border-top: 1px #ccc solid;
	font-weight: 600;
}
.express_info>ul>li>.title{
	// width: 235px;
	padding-right:30px ;
	display: inline-block;
}
.express_info>ul>li>.info{
	padding-left:50px ;
	display: block;
	float: right;
	white-space:nowrap; text-overflow:ellipsis; -o-text-overflow:ellipsis; overflow:hidden;
	height: 58px;
	width: 750px;
}
.express_info>ul>li>.ico{
	display: inline-block;
	height: 26px;
	width: 26px;
	position: absolute;
	left: 230px;
	top: 17px;
	z-index: 22;
	background-image: url(images/ico_1.png);
	background-repeat: no-repeat;
}
.express_info>ul>li>.ico1{
	display: inline-block;
	height: 100%;
	width: 26px;
	position: absolute;
	left: 230px;
	background-image: url(images/lines.png);
}
.express_info>ul>li:nth-child(2)>.ico1{
	height: 50%;
	top: 29px;
}
.express_info>ul>li:last-child>.ico1{
	height: 50%;
}
.express_info>ul>li:nth-child(2)>.ico{
	background-image: url(images/ico_2.png);
}
.express_info>ul>li:last-child>.ico{
	background-image: url(images/ico_3.png);
}
/* order 部分 */
.order_box{
	margin: 30px auto;
	background-color: #fff;
	width: 1170px;
	padding: 30px 0px;
}
.order_main>.order_main_title{
	font-size: 24px;
	color: #555;
	line-height: 66px;
	margin: 0 55px 28px;
	border-bottom: 1px #ccc solid;
}
.order_main>.main_inquire{
	width: 1060px;
	box-sizing: border-box;
	height: 100px;
	margin: 0 auto;
	background-color: #fff;
	position: relative;
	z-index: 99;
	padding: 29px 48px;
	border: 1px #ccc solid;
}
.order_main>.main_inquire>.main_inquire_tit{
	font-size: 30px;
	line-height: 42px;
	color: #555;
}
.order_main>.main_inquire>.main_inquire_inp{
	margin: 0px 30px;
}
.order_main>.main_inquire>.main_inquire_inp>input{
	font-size: 16px;
	height: 38px;
	width: 610px;
	padding-left: 10px;
	color: #ccc;
	border-radius: 3px;
	border: 1px #cbcbcb solid;
	outline: none;
}

.order_main>.main_inquire>.main_inquire_btn{
	font-size: 16px;
	font-weight: bold;
	line-height: 40px;
	color: #fff;
	width: 160px;
	background-color: #ff535f;
	border-radius: 3px;
	text-align: center;
	cursor:pointer;
	user-select: none;
	-webkit-user-select: none;
}
.order_main>.main_inquire>.main_inquire_btn:hover{
	background-color: #ff0000;
}
/* 新闻子页部分 */
.news{
	background-color: #fff;
	padding: 30px;
	box-sizing: border-box;
	margin-top: 100px;
	margin-bottom: 100px;
}
.news>p{
	color: #555;
}
/* 疑难解答部分 */
/* banner 部分 */
.img_question{
	margin-top: 30px;
	height: 356px;
	overflow: hidden;
}
.img_question>img{
	height: inherit;
	width: inherit;
}

/* 左侧nav导航栏部分 */
.question>.question_nav{
	width: 180px;
	padding: 44px 22px;
	box-sizing: border-box;
	color: #555;
}
.question>.question_nav>div{
	border-bottom: 1px #a0a0a0 dashed;
	line-height: 2em;
	text-align: center;
}
.question>.question_nav>.tit{
	font-size: 22px;
	font-weight: bold;
}
.question>.question_nav>.comtent{
	font-size: 18px;
}
/* 右侧正文部分 */
.question>.right{
	width: 988px;
	box-sizing: border-box;
	padding: 0px 30px 30px;
	border-left: 1px #a0a0a0 dashed;
}
.question>.right>.title{
	text-align: center;
	font-size: 24px;
	font-weight: bold;
	color: #555;
}
.question{
	background-color: #fff;
	padding: 30px 0px;
	box-sizing: border-box;
	// margin-top: 30px;
	margin-bottom: 100px;
}

.question>div>.question_tit{
	font-size: 20px;
	color: #555;
	font-weight: bold;
	line-height: 1.8em;
}
.question>div>.answer{
	font-size: 18px;
	color: #666;
	line-height: 1.5em;
	margin-bottom: 10px;
	padding-left: 40px;
	padding-bottom: 10px;
	// border-bottom: 1px #999999 dotted;
}
.question>div>.answer:last-child{
	border-bottom: none;
}

/* 违禁物品 */
.violate>.question_nav{
	width: 180px;
	padding: 44px 22px;
	box-sizing: border-box;
	color: #555;
}
.violate>.question_nav>div{
	border-bottom: 1px #a0a0a0 dashed;
	line-height: 2em;
	text-align: center;
}
.violate>.question_nav>.tit{
	font-size: 22px;
	font-weight: bold;
}
.violate>.question_nav>.comtent{
	font-size: 18px;
}
/* 右侧正文部分 */
.violate>.right{
	width: 988px;
	box-sizing: border-box;
	padding: 0px 30px 30px;
	border-left: 1px #a0a0a0 dashed;
}
.violate>.right>.title{
	text-align: center;
	font-size: 24px;
	font-weight: bold;
	color: #555;
	padding-bottom: 20px;
}
.violate{
	background-color: #fff;
	padding: 30px 0px 80px;
	box-sizing: border-box;
	// margin-top: 30px;
	margin-bottom: 100px;	
}

.violate>div>ul{
	list-style: none;
	margin-bottom: 50px;
}
.violate>div>ul>li{
	width: 194px;
	float: left;
	text-align: center;
	height: 164px;
}
.violate>div>ul>li>img{}
.violate>div>ul>li>div>span{
	display: block;
}
.violate>div>dl>dt{
	font-size: 20px;
	color: #555;
	font-weight: bold;
	line-height: 1.8em;
	margin-top: 10px;
}
.violate>div>dl>dd{
	font-size: 18px;
	color: #666;
	line-height: 1.5em;

}

/* 我要寄件 */
.img_send{
	margin-top: 30px;
	height: 356px;
	overflow: hidden;
}
.img_send>img{
	height: inherit;
	width: inherit;
}
.send{
	background-color: #fff;
	padding: 40px;
	box-sizing: border-box;
	color: #555;
}
.send>.heaer_info{
	font-size: 24px;
	line-height: 40px;
}
.send>.tit{
	margin-top: 20px;
	font-size: 24px;
	font-weight: bold;
	line-height: 40px;
}
.send>.comtent{
	font-size: 18px;
	line-height: 32px;
}

/* 公司介绍 */
.img_introduce{
	margin-top: 30px;
	height: 356px;
	overflow: hidden;
}
.img_introduce>img{
	height: inherit;
	width: inherit;
}
.introduce{
	// margin-top: 30px;
	background-color: #fff;
	padding:40px;
	box-sizing: border-box;
	color: #555;
}
.introduce>.tit{
	margin-bottom: 6px;
	font-size: 18px;
	line-height: 1.5em;
}
.introduce>.header{
	// text-align: center;
	font-size: 24px;
	line-height: 2em;
	font-weight: bold;
	// margin-bottom: 30px;
}

/* 联系我们 */
.callme{
	margin-top: 30px;
	background-color: #fff;
	padding:40px;
	box-sizing: border-box;
	color: #555;
}
.callme>.tit{
	text-align: center;
	margin-bottom: 10px;
	font-size: 20px;
	line-height: 1.8em;
}
.callme>.header{
	text-align: center;
	font-size: 24px;
	margin-bottom: 30px;
}

/* 配送时效 */
.img_prescription{
	margin-top: 30px;
	height: 356px;
	overflow: hidden;
}
.img_prescription>img{
	height: inherit;
	width: inherit;
}
.prescription{
	// margin-top: 30px;
	background-color: #fff;
	padding:40px;
	box-sizing: border-box;
	color: #555;
}
.prescription>.header{
	font-size: 24px;
	line-height: 2em;
}
.prescription>table{
	width: 800px;
	border-color: #bbb;
	margin: 30px auto;
}
.prescription>table tr td.title{
	text-align: center;
	font-size: 30px;
	line-height: 2em;
	/* border: 1px #000 solid; */
}
.prescription>table tr td{
	text-align: center;
	height: 30px;
}

/* 服务站点 */
.img_site{
	margin-top: 30px;
	height: 356px;
	overflow: hidden;
}
.img_site>img{
	height: inherit;
	width: inherit;
}
.site{
	// margin-top: 30px;
	background-color: #fff;
	padding:40px;
	box-sizing: border-box;
	color: #555;
}
.site>.header{
	font-size: 24px;
	line-height: 2em;
}
.site>.chinamap{
	width: 100%;
	margin: 30px 0px;
	text-align: center;
}

/* 回到首页按钮 */

.header_nav>ul>li.right{}
.header_nav>ul>li.right>a{
	// border: 1px red solid;
	padding: 5px 10px;
	font-size: 16px;
	// border-radius: 20%;
	background-color: #333;
	color: #fff;
	position: relative;
	left: -22px;
}